@import '../common';

.todo {
  background-color: $darkBgColor;
  height: 50rem;
  padding: 3rem;

  * {
    color: $lightTextColor;
  }
}

.todo input,.todo button{
    color: #000 !important;
}
.todo{
	font-size:14px;	
}