<section class="todo">
  <h2>Todo</h2>
  <todo-filter filter="$ctrl.filter" on-change-filter="$ctrl.changeFilter($event);"></todo-filter>
  <br>
  <todo-remain remaining="$ctrl.getRemaining()"></todo-remain>
  <todo-list todos="$ctrl.todos" on-remove-todo="$ctrl.removeTodo($event);" filter="$ctrl.filter"></todo-list>
  <todo-form todo="$ctrl.newTodo" on-add-todo="$ctrl.addTodo($event);"></todo-form>
  <todo-archive on-add-to-archive="$ctrl.addToArchive($event);"></todo-form>
</section>